.heading{
    width:100%;
    font-size:23px;
    margin:0px;
    background-color:rgb(85, 160, 190);
    color:white;
    padding:18px;
    margin-bottom:10px;
    border-radius:15px;
}

.note{
    font-size:18px;
}

body{
    background-size:cover;
}

.speed_img{
    border-radius:300px;
    width:250px;
    float:left;
    margin-left:5px;
    margin-top:-50px;
}

#speed{
    height:45px;
    width:100px;
    font-size:20px;
    float:left;
    margin-top:50px;
    margin-right:1162px;
    margin-left:75px;
}

.volume_img{
    border-radius:300px;
    width:250px;
    float:right;
    margin-left:-900px;
    margin-top:-245px;
}

#volume{
    height:45px;
    width:100px;
    font-size:20px;
    float:0;
    margin-top:150px;

}

.idk{
    width:100px;
    height:45px;    margin-left:600px;
    margin-right:50px;
    font-size:20px;
    margin-right:250px;
    margin-top:-350px;
}

canvas{
    border-radius:15px;
    border-width:5px;
    border-style:solid;
    border-color:rgb(85, 160, 190);
}