.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    background-color:rgb(85, 160, 190);
    color:white;
}

.note{
    font-size:15px;
    color:white;
}

body{
    background-size:cover;   
}

.speed{
    float:left;
}

.speed_img{
    width:200px;
    border-radius:100px;
}

#speed1{
    font-size:23px;
    margin:15px;
}

.volume{
    float:right;
}

.volume_img{
    width:200px;
    border-radius:100px;
}

#volume1{
    font-size:23px;
    margin:15px;
}

.idk{
    width:130px;
    font-size:25px;
}

canvas{
    border:5px solid white;
    border-radius:20px;
}